html, body {
  font-family: 'Roboto';
  width: 100%;
  height: 100%;
}
.container1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.top_login {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 2;
  background-color: #03A9F4;
}

.top_login h2 {
  color: #FFFFFF;
  font-family: 'Oswald';
  text-align: center;
  margin-top: 7%;
}

.login {
  width: 350px;
  height: 270px;
  padding: 25px;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 3;
  left: 37%;
  top: 30%;
  border: 1px solid #CFD8DC;
}

.bottom_login {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: #F5F5F5;
}
